.changePasswordFormEntry{


    float : left;
    width : 90%;
}

.changePasswordForm label{

    float : left;
    margin-top : 7px;
}

#changePasswordMessage{

    float : left;
    text-align : center;
    width : 100%;
    padding-top:5px;
    padding-bottom : 5px;
}

#changePasswordDescription{

    float : left;
    width : 300px;
    font-size : 6px;
    color : #b5bcc7;
}

.changePasswordForm input{

    float : left;
}
