<link rel="stylesheet" href="/dialogs/Templates/styles.css">
<div class="dijitDialogPaneContentArea">

    <script>
        require(['stormcloud/dialogs/Templates'], function(templates){
       
            templates.init();
        }); 
            
        function done() {
            
            require(['stormcloud/dialogs/Templates'], function(templates){
       
                templates.done();
            });    
        }
        
        function cancel(){
            
            require(['stormcloud/dialogs/Templates'], function(templates){
       
                templates.cancel();
            });   
        }
    </script>

    <div class="floater">


        <div id="editTemplateWizard" data-dojo-type="dojox/widget/Wizard" data-dojo-props="style:'width:900px; height:500px', nextButtonLabel:'Next', doneButtonLabel:'Open Template'">

            <div id="editTemplateStep1" data-dojo-type="dojox/widget/WizardPane" data-dojo-props="doneFunction:done">

                <div class="stepsBanner" style="float:left; width:270px; height: 100%; border-right: 1px solid #b5bcc7;">

                    <span style="font-size: 12px; margin-left: 10px;"><b>Steps:</b></span>

                    <ol>
                        <li>Choose Template</li>
                    </ol>
                </div>

                <div style="float: left;width:320px; height: 100%; border-right: 1px solid #b5bcc7;">
                    <span style="font-size: 12px; margin-left: 10px;"><b>Available Templates:</b></span>

                    <div id="templateTree">
                    </div>
                </div>    

            </div>
            <script type="dojo/method" event="cancelFunction">
                cancel();
            </script>
        </div>

    </div>

</div>