
.preferencesTitle{

    float : left;
    padding-top : 20px;
    padding-bottom : 20px;
    width : 95%;
    font-size : 18px;
    padding-left : 20px;
}

label {
    float : left;
    width : 100px;
    padding-left : 20px;
}

#preferencesAvatarContainer{

    float : left;
    text-align : center;
}

#preferencesAvatarTitle{

    float : left;
    text-align : left;
    width : 95%;
    font-weight : bold;
    padding-bottom : 10px;
    padding-top : 20px;
    padding-left : 20px;
}

#preferencesAvatarExplain {

    float : left;
    width : 250px;
    font-size : 10px;
    text-align : justify;
    padding-left : 20px;
}

#preferencesFullName{

    float : left;
    width : 200px;
}

#preferencesUserName{

    color : lightgrey;
}

#preferencesEmail{

    float : left;
    width : 200px;

}

#preferencesCity{

    float : left;
    width : 200px;

}

#preferencesCountry{

    float : left;
    width : 200px;

}


#preferencesActionBar{

    float : left;
    width : 365px;
    text-align : left;
    margin-top : 40px;
    padding-left : 24px;
}

.coderEntry{

    float : left;
    width : 95%;
    padding-top: 5px;
    padding-left: 5px;

}

.coderEntry img{

    float : left;
    padding-right : 5px;
}

.coderEntry .name{

    float : left;
    font-weight : bold;
    padding-right : 3px;
}

.coderEntry .place{

    float : left;

}

